<div class= "team">
    <h1><%= @teams.name%></h1>
    <h2>Team Motto: <%= @teams.motto%></h2>
</div><br>

<% @members.each do |member| %>
    <div class="course">
      <p>Hero Name: <%= member.name %></p><br>
      <p>Hero Power: <%= member.power %></p><br>
      <p>Hero Biography: <%= member.bio %></p><br>
    </div><br>
  <% end %> 